<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
   
    <link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>
      
/* home page style start */
.horizontal-center {
  text-align: center;
}
.table {
  display: table;
}
.table-row {
  display: table-row;
}
.vertical-center {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

/* Navbar */
#navbar {
  margin-bottom: 0;
  font-family: "ubuntu";
}

/* Page title */
.bg {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
#page-title {
  position: relative;
  width: 100%;
  color: white;
  background-color: #1f4a6f;
  font-family: "ubuntu";
  overflow: hidden;
}
#title-image {
  filter: alpha(opacity=80);
  opacity: 0.8;
  -moz-opacity: 0.8;
}
#page-title .container {
  min-height: 350px;
  display: table;
}
#page-title .article-title,
#page-title .article-subtitle {
  text-shadow: 0px 0px 40px black;
}

/* Article */
article {
  font-family: "roboto";
  font-size: 1.1em;
}
article h2,
article h3 {
  font-family: "ubuntu";
}
.author {
  margin-top: 15px;
  margin-bottom: 15px;
}
.author-image {
  margin-right: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.author-name {
  font-size: 1.3em;
}

/* Pager */
.pager {
  font-family: "ubuntu";
}

/* Footer */
footer {
  background-color: #1f4a6f;
  padding-bottom: 40px;
  margin-bottom: 0;
  color: white;
  font-family: "roboto";
}
footer h2,
footer h3 {
  font-family: "ubuntu";
}
footer a {
  color: #70a7d7;
}
footer a:hover {
  color: #337ab7;
}

/* Social Button List */
.social-cont {
  margin-top: 20px;
}

/* Image List */
.image-list {
  list-style: none;
  padding-left: 0;
}
.image-list li {
  padding-bottom: 5px;
  display: table-row;
}
.image-list img {
  width: 40px;
  height: 40px;
}
.image-list .vertical-center {
  padding-bottom: 6px;
}

/* Tag List */
.tag-cont .btn {
  margin-right: 4px;
  margin-bottom: 7px;
  color: #333;
}
.tag-cont .btn:hover {
  background-color: #eee;
}
.color-white{
  color: azure;
  text-decoration: none !important;
}
.col-6.d-block {
    position: relative;
    left: 525px;
    top: -325px;
}
.comment_details {
    display: flex;
}
.comment_details li{
    list-style: none !important;
    margin-right: 15px !important;

}
    </style>
  </head>
  
    <body>
       
      <div id="navbar" class="navbar navbar-default navbar-page-title">
        <div class="container">
          <div class="navbar-header">
            <a class=" color-white navbar-brand" href="/"><i class="fa fa-cutlery"></i> Online Food Blog</a>
            <a class="mr-2 color-white" href="/">Home</a>
             <a class="mr-2 color-white" href="/foodexperience">Food Experience</a>
             <% if(role=='admin'){  %>
              <a class="mr-2 color-white" href="/admin">My Account</a>
      
           <%  } else if(role=='user'){  %>
              <a class="mr-2 color-white" href="/user">My Account</a>
          <% }else{  %>
              <a class="mr-2 color-white" href="/login">Login</a>
              <a class="mr-2 color-white" href="/signup">Sign Up</a>
         <% }  %>
            
            
          </div>
         
        </div>
      </div>
      
    
   <div class="container mt-5">
       <div class="col-12">
         <h3>Post Details :</h3>
           
        <% results.forEach( function(post){ %>
          <div class="blog-container">
            
            <div class="blog-header">
              
            </div>
          
            <div class="blog-body">
              
              <div class="blog-summary">
                <p><%=post.post%></p>
                <div class="blog-author--no-cover">
                    <p><i class="fa fa-pencil"></i> <%=post.author%>  <i class="fa fa-clock-o"></i> <%=post.date%></p>
                </div>
                    </div>
              
            </div>
            
           
          
          </div>
          
          <%
                }); 
            %>


       </div>

       <div class="col-8 mt-3">
        <h3>Comments:</h3>
      <%   if(typeof comments!='undefined' || comments!=''){   %>
        <% comments.forEach( function(cmt){ %>
          <div class="new_comment mt-2">
           
             <ul class="user_comment">
               <div class="user_avatar">
                 <img width="60px" height="50px" src="/image/1606313825629.png">
               </div>
               <div class="comment_body">
                 <p><%=cmt.comment%></p>
               </div>
               <div class="comment_toolbar">
      
                 <!--  date and time -->
                 <div class="comment_details">
                   
                     <li><i class="fa fa-clock-o"></i> <%=cmt.time%></li>
                     <li><i class="fa fa-calendar"></i> <%=cmt.date%></li>
                     <li><i class="fa fa-pencil"></i> <span class="user">Comment By: <%=cmt.commentby%></span></li>
                   
                 </div>
               </div>
             </ul>
           </div>
    <% });  %>
   <% };  %>

       </div>
       <% if(role=='admin' || role=='user'){  %>
    <div class="col-8 mb-5 mt-5">
        <h3>Comment Here :</h3>
        <form action="" method="POST">
         <textarea class="form-control" name="post" id="cmt" required cols="12" rows="8"></textarea>
         <input class="btn btn-primary mt-2" id="comment" required   name="" type="submit" value="Submit">
        </form>
      </div>
      <%  }else{ %>
        <div  class="col-8 mb-5 mt-3">
          <a class="mt-5 signuplink" href="/signup">Please sign up to comment!</a>
        </div>
    <%  }  %>
   </div>


           
  



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


    <script>
      
    </script>
      </body>
</html>